PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=ms_entidades
DATABASE_URL=

# --- Configuración de Correo (Mailtrap / Nodemailer) ---
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM="ClinicaVet <no-reply@clinicavet.test>"

# --- Integraciones Frontend ---
FRONTEND_URL=http://localhost:3000

# --- JWT Auth ---
JWT_SECRET=
JWT_EXPIRES_IN="15m"